.wrapper

	// Wave bg
	.wave-container
		.wave.-one
		.wave.-two
		.wave.-three
	
	//- .bg
	//- ===== Home Page ===== 	
	.line
	.text-wrap
		.text
			span L
			span O
			span G
			span 
			span I
			span N
			.main-btn_wrapper
				i.main-btn.fa.fa-play(aria-hidden="true")
		
	//- ===== Header =====	
	.header
		.burger-wrapper
			.burger
		.logo-text Log in
		.back_btn
			.circle
			.text Back
		
	//- ===== Navigation =====	
	.nav
		ul.nav_main
			li 
				a.nav_link Home	
			li 
				a.nav_link Listeners
			li 
				a.nav_link Compilations
			li 
				a.nav_link LP. Mix
		.nav_divider
		ul.nav_sub
			li
				a(href='').nav_link About	
			li
				a(href='').nav_link Contact	
				
	//- ===== Mini Player =====	
	.mini-player
		.track_info_wrapper
			.track_info
				.thumb
				.info
					.title Friday Comes
					.artist Early
		
		.mini-player_btn_wrapper
			i.btn-prev.fa.fa-step-backward(aria-hidden="true")
			.btn-switch
				i.btn-play.fa.fa-play(aria-hidden="true")
				i.btn-pause.fa.fa-pause(aria-hidden="true")
			i.btn-next.fa.fa-step-forward(aria-hidden="true")
			i.btn-open-player.fa.fa-list(aria-hidden="true")
	
	//- ===== Music Player =====
	//- Activate dim when Music Player open	
	.dim
	.player#player
		//- ===== Music Player - Playback =====
		.playback_wrapper
			.playback_blur
			.playback_thumb
			.playback_info
				.title Friday Comes
				.artist Early
			.playback_btn_wrapper
				i.btn-prev.fa.fa-step-backward(aria-hidden="true")
				.btn-switch
					i.btn-play.fa.fa-play(aria-hidden="true")
					i.btn-pause.fa.fa-pause(aria-hidden="true")
				i.btn-next.fa.fa-step-forward(aria-hidden="true")
			
			.playback_timeline
				.playback_timeline_start-time 00:31
				.playback_timeline_slider
					.slider_base
					.slider_progress
					.slider_handle
				.playback_timeline_end-time 03:11
			
				
				
		//- ===== Music Player - List =====
		.list_wrapper
			ul.list 
				li.list_item.selected 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
				li.list_item 
					.thumb 
					.info 
						.title Friday Comes
						.artist Early
						
	//- ===== Main Content Page ===== 
	#curator.page
		.curator_title_wrapper
			span LP
			.curator_line
			.curator_title Log In
			.curator_line
			span 14
			
		.curator_list
			.curator_list_content
				.connect_btn_wrapper.item
					.connect_btn
						.connect_btn_text Connect 
															br 
															| Spotify
				.curator_list_content_desc Or Select 
																				br 
																				| 
																				br 
																				| 			
				.item
					.thumb
					.info
						.name Fantasy
						.desc Sam
		